<!-- Static navbar -->
    <!--<nav class="navbar navbar-default navbar-top">-->
        <!--<span class="coming-soon"> Наш магазин скоро откроется! </span>-->
    <!--</nav>-->

    <nav class="navbar navbar-default navbar-main">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active header-link" href="/">SSShop</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="header-link">Главная</a></li>
                    <li><a href="/checkout" class="header-link">Заказать</a></li>
                </ul>


                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown">
                            <a href="/checkout">
                                <button class="dropbtn">Корзина<span id="basket_total_amount"></span>
                                    <span id="basket_total_nmb">
                                        {% if products_total_nmb %}
                                            ({{ products_total_nmb }})
                                        {% else %}
                                            (0)
                                        {% endif %}
                                    </span>
                                </button>
                            </a>
                            <div class="dropdown-content basket-items">
                                <ul class="">
                                    {% for product_in_basket in products_in_basket %}
                                        <li>
                                            {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.
                                            по {{ product_in_basket.price_per_item }}
                                            <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">&#10006</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
</nav>
