{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1></h1>
                <ul>
                    {% for product_in_basket in products_in_basket %}
                        <li>
                            {{ product_in_basket.product.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
