{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!--<div class="section-top">-->
        <!--<img src="{% static 'img/slider0.jpg' %}" class="img-responsive">-->
    <!--</div>-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center header-section">
                        Распродажи
                    </h1>
                </div>
                {% for product_image in products_images %}
                    {% if product_image.product.discount %}
                        {% include 'products/product_item.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!--<div class="section section-delivery">-->
        <!--<div>-->
            <!--<h3>Free shipping</h3>-->
        <!--</div>-->
    <!--</div>-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center header-section">
                        Телефоны
                    </h1>
                </div>
                {% for product_image in products_images_phones %}
                    {% include 'products/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center header-section">
                        Ноутбуки
                    </h1>
                </div>
                {% for product_image in products_images_laptops %}
                    {% include 'products/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
