html, body {
    height: 100%;
    max-height: 100%;
    background-color: #edeef0;
}

ul {
    list-style:none;
    padding-left:0;
}​

.navbar {
    margin-bottom: 0;
}

.wrapper {
    min-height: 100%;
}

.wrapper-content {
    overflow: auto;
    padding-bottom: 220px;
}

.footer {
    position: relative;
    margin-top: -200px;
    height: 200px;
    clear: both;
    background-image: url('../img/sea.jpg');
}

.section-top {
    margin-bottom: 20px
}

.product-description-tabs {
    padding: 10px;
}

.product-img {
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 50px 0;
}

.section h1 {
    margin-bottom: 40px;
}

.delete-item:hover {
    text-decoration: none;
}

.product-item {
    height: 380px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.price {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.add-to-card-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container {
    position: absolute;
    top: 10%;
    background: #55e073;
    width: 25%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.product-image-item {
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: #4bb777;
    border: none;
    border-radius: 0;
}

.navbar-main {
    background-color: #4ec67f;
    border: none;
    border-radius: 0;
}

.basket-container {
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 56px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 0;
}

.form-error {
    color: red;
}

.header-section {
    display: block;
    padding: 10px 0 10px 0;
    border-radius: 25px 10px;
    background: linear-gradient(#d8e1ea, #a1b2e6);
}

.header-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

#form_buying_product {
    margin: 10px 0 30px 0;
}

#header-basket {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

#header-basket:hover {
    color: #ffffff;
    text-decoration:none;
}

#header-email {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}

input[type=email] {
    width: 100%;
    padding: 12px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1.5;
    placeholder: 'Enter ...'
}






.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
